<style>
.btn-manager-team {
	font-family: 微軟正黑體;
	width: 100%;
	height: 100%;
	font-size: 50px;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
			<div class="well">
				<h3 class="text-info">你要代表哪一隊？</h3>
				<p class="text-danger">選秀一旦開始，就不得更換隊伍</p>
			</div>
			<div class="panel panel-primary">
				<div class="manager-team-container">
				<% var teams = [{ename: 'rhino', cname:'義大犀牛'},{ename:'lion', cname: '統一獅'},{ename: 'elephant', cname: '中信兄弟'},{ename: 'monkey', cname: '桃猿'}];%>
					<% _.each(teams, function (team) { %>
						<div class="manager-team-item">
							<form method="POST" action="/manager">
								<input type=hidden name=team value=<%= team.ename %> />
								<button type=submit class="btn btn-manager-team" team="<%= team.ename %>"><%= team.cname %></button>
							</form>
						</div>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var colorMapping = {
		rhino : 'btn-material-deep-purple-A200',
		lion : 'btn-material-orange-A200',
		monkey : 'btn-material-light-blue-A200',
		elephant : 'btn-material-yellow-A200'
	};
	window.onload = function (e) {
		var buttons = document.querySelectorAll('button.btn-manager-team');
		var i, len = buttons.length;
		for (i = 0; i < len; i++) {
			var button = buttons[i],
				color = colorMapping[button.getAttribute('team')];
			button.className = button.className + ' ' + color;
		};
	};
</script>