.attention {
    animation: 5s ease 0s normal none 1 running flash;
}
.attention-2s {
    animation: 2s ease 0s normal none 1 running flash;
}
@keyframes flash {
0% {
    background-color: #fff;
}
50% {
    background-color: rgba(238, 47, 47, 0.85);
}
100% {
    background-color: #fff;
}
}
.table td, .table th {
    text-align: center;
}
.candidate:hover {
    background-color: #ddd;
}
.candidate.chosenable {
    cursor: pointer;
}
.candidate.picked {
    animation: 5s ease 0s normal none 1 running flash;
    color: #fff;
}
.candidate.picked:hover {
    background-color: #fff;
}
#result .picked {
    animation: 5s ease 0s normal none 1 running flash;
}
#ballot {
    text-align: center;
}
#clock {
    font-size: 30px;
}
#bulletin {
    font-size: 16px;
    max-height: 1.5em;
}
#bulletin span {
    animation: 2s ease 0s normal none 1 running flash;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}
#pastResult {
    z-index: 10;
}
.flex-container, .manager-team-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.manager-team-item {
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    margin: 7px 0;
    text-align: center;
    width: 90%;
}
@media all and (max-width: 970px) {
.container {
    margin-bottom: 60px;
}
.flex-container, .manager-team-container {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -20px;
}
.footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
}
.footer > .panel {
    box-shadow: 0 1px 10px;
}
.kkcountdown-box {
    font-size: 22px;
}
.bulletin {
    padding-left: 10px;
}
}
.withripple {
    position: relative;
}
.ripple-wrapper {
    border-radius: inherit;
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.ripple {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(1);
    transform-origin: 50% 50% 0;
    width: 20px;
}
.ripple.ripple-on {
    opacity: 0.1;
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}
.ripple.ripple-out {
    opacity: 0;
    transition: opacity 0.1s linear 0s !important;
}